applications:
  manila-netapp:
    options:
      vserver-name: {{ TEST_MANILA_NETAPP_VSERVER_NAME }}
      management-address: {{ TEST_MANILA_NETAPP_MANAGEMENT_ADDRESS }}
      admin-name: {{ TEST_MANILA_NETAPP_ADMIN_NAME }}
      admin-password: {{ TEST_MANILA_NETAPP_ADMIN_PASSWORD }}
  manila-netapp-dhss:
    options:
      root-volume-aggregate-name: {{ TEST_MANILA_NETAPP_ROOT_VOL_AGGR_NAME }}
      management-address: {{ TEST_MANILA_NETAPP_MANAGEMENT_ADDRESS }}
      admin-name: {{ TEST_MANILA_NETAPP_ADMIN_NAME }}
      admin-password: {{ TEST_MANILA_NETAPP_ADMIN_PASSWORD }}
